:root {
  --color1: #1b1464;
  --color2: rgb(25, 0, 255);
  --color3: #020202;
  --color4: rgb(250, 8, 8);
  --color5: white;
  --color6: red;
  --color7: white;
  --color8: #6e2935;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*NAVBAR START*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
header.sticky .navigation li a {
  color: #111;
}
header .navigation li a:hover {
  color: #ff0157;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }

  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url(../img/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
}
@media (max-width: 480px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
}

/*NAVBAR FINSH*/

/*BANNER START*/
.banner {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../img/benner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  width: 100%;
  height: 100%;
  background-color: var(--color6);
  transform: skewX(-15deg);
}
@media (max-width: 992px) {
  .banner::before {
    left: 0;
    transform: skewX(0deg);
  }
}
.banner .container {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.banner .row {
  padding: 2rem;
}
.banner .icerik {
  z-index: 1;
  color: var(--color5);
}
.banner .kutup-yildizi {
  font-size: 17px;
}
.banner button {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background-color: var(--color4);
}
.banner .card {
  text-align: center;
  padding-top: 1rem;
  color: #003b13;
}

.banner .card .card-body {
  color: var(--color4);
}
.banner .card i {
  font-size: 2rem;
}
.banner .item a {
  text-decoration: none;
}
.owl-carousel {
  position: relative;
  margin: 2rem 0 2rem 0;
}
.owl-nav .owl-prev {
  position: absolute;
  left: -2rem;
  top: -3%;
}
.owl-nav .owl-next {
  position: absolute;
  right: -2rem;
  top: -3%;
}
.owl-nav .owl-next span {
  font-size: 4rem;
}
.owl-nav .owl-prev span {
  font-size: 4rem;
}
.owl-theme .owl-nav .owl-prev:hover {
  background: none;
  color: var(--color4);
}
.owl-theme .owl-nav .owl-next:hover {
  background: none;
  color: var(--color4);
}
/*BANNER FINISH*/

/*PROJECTS START*/
.projects .card-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

/*PROJECTS FINISH*/

/*PROFIL START*/

a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
  padding-left: 0;
}
.profil {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profil .container-title {
  text-align: center;
  color: #491922;
  transform: scale(1) 500ms;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.profil .card {
  width: 220px;
  height: 320px;
  display: flex;
  flex-direction: row;
  border: none;
  margin-bottom: 6rem;
  position: relative;
  justify-content: center;
  padding: 0;
  margin: 2rem;
  margin-bottom: 5rem;
}
.profil h6.card-title {
  position: absolute;
  bottom: -4rem;
  z-index: 999;
  border: 2px solid #491922;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 10rem;
  color: rgb(252, 0, 0);
  background: rgba(255, 255, 255, 0.5);

  transition: background-color 800ms;
}
.profil .card:hover h6.card-title {
  background-color: #491922;
  color: white;
  border-color: #491922;
}

.profil .card-box {
  width: 220px;
  height: 320px;
  position: relative;
}
.profil .card-box:hover .card-box_img {
  transform: translateY(-100%) rotateX(90deg);
}

.profil .card-box .self-button {
  background-color: #491922;
  border-radius: 10rem;
  color: white;
  border: 2px solid white;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-decoration: none;

  margin-top: 1.5rem;
}
.card-box_back li a:hover,
.profil .card-box .self-button:hover {
  background-color: white;
  color: #491922;
  transition: all 800ms;
}
.profil .card-box_img {
  width: inherit;
  height: inherit;
  transition: 500ms;
  transform-origin: bottom;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  z-index: 1;
}

.profil .card-box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profil .card-box_back {
  width: 100%;
  height: 100%;
  background: rgb(73, 25, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
  border-radius: 4px;
}
.profil .card-box:hover .card-box_back {
  transform: translateY(0) rotateX(0);
}
.profil .card-box_back p {
  color: #ffff;
}
.profil .card-box_back ul {
  display: flex;
  gap: 1rem;
}
.card-box_back li a {
  color: #ffff;
  width: 2rem;
  height: 2rem;
  border: 2px solid #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*PROFIL FINSH*/

/* FOOTER START */
footer {
  background: #fed0cf6e;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.411);
}
footer h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
footer a {
  color: rgb(73, 25, 34);
  font-size: 1.1rem;
  font-weight: 600;
}
footer a:hover,
footer .sosyal a:hover i {
  color: red;
}

footer .container {
  text-align: center;
}
footer li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
footer .sosyal a {
  margin-right: 1rem;
}
footer .sosyal i {
  font-size: 2rem;
  color: rgb(73, 25, 34);
}

hr {
  height: 3px !important;
  color: rgb(73, 25, 34);
  opacity: 1;
}
/* FOOTER FNISH */
